@import '../../base';
@media (max-width:$breakpoint-medium){
    .container{
        padding-left: 10%;
    }
}
@media (max-width:$breakpoint-small){
    .container{
        padding: 10px;
    }
    .large-container{
        margin-left: 90px;
    }
}