$text-color: #b1bdb4;

$black-primary: #16181b;
$black-secondry:#121417;
$border-color: #4c4c4c;

$breakpoint-medium:1224px;
$breakpoint-small:520px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body{
    background-color: $black-primary;
    color: $text-color;
    background-attachment: fixed;
    letter-spacing: 0.1px;
  }
  a{
    text-decoration: none;
    color: #5a5a5a;
  }
  img{
    cursor: pointer;
  
  }
  .flex-div{
    display: flex;
    align-items: center;
  }