@import '../../base';
@media (max-width: $breakpoint-medium){
    .play-container{
        padding-left:9%;
    }
}
@media (max-width: 960px){
    .play-container{
        display: block;
        padding-top: 6.2rem;
        padding-left: 11%;
    }
}
@media (max-width: 800px){
    .play-container{
        padding-left: 15%;
    }
}
@media (max-width: $breakpoint-small){
    .play-container{
        padding-left: 3%;
    }
    .large-play-container{
        padding-left: 17%;
    }
}