.play-container{
    background: #f9f9f9;
    padding-right: 2%;
    padding-left: 17%;
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.large-play-container{
    padding-left: 7%;
}